body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

section {
    padding: 20px;
}

h2, h3 {
    color: #333;
}

p, ul {
    color: #666;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}
img1 {
    display: block;
    margin: 0 auto 10px;
    max-width: 10%;
    height: auto;
    border-radius: 05px;
}